doctype html
html
  include ./includes/head.jade
  body
    h1 Jade Testing For Bluejacket
    h3 For Business Developers
    ul
      li
        a(href='/jadeTest') Main Page
      li
        a(href='http://bluejacket.upsfcorp.com') Framework Page
    p This is landing page of jade for easy development
    p Lets gonna start with Application/template/jade/test.jade
    include ./includes/footer.jade
